<launch>
    <arg name="tcp_ip" default="0.0.0.0"/>
    <arg name="tcp_port" default="10000"/>

    <node name="server_endpoint" pkg="ros_tcp_endpoint" type="default_server_endpoint.py" args="--wait" output="screen" respawn="true">
            <param name="tcp_ip" type="string" value="$(arg tcp_ip)"/>
            <param name="tcp_port" type="int" value="$(arg tcp_port)"/>
    </node>

    <!-- <node name="pipeline" pkg="ROS-Nursing-Robot-MQP-23-24" type="pipeline.py" output="screen" /> -->
    <!--node pkg="tf" type="static_transform_publisher" name="adjust" args="0 0 0 0 0 0 world adjust 100" / -->

    <node pkg="tf" type="static_transform_publisher" name="calibration_tag" args="-0.73 -0.093 0 1.57079 0 0 adjust calibration_tag 100" />



    <node pkg="tf" type="static_transform_publisher" name="grey_cube_center" args="0 0 -0.026 0 0 0 calibration_box grey_cube_center 100" />
    <node pkg="tf" type="static_transform_publisher" name="corn_can_center" args="0 0 -0.056 0 0 0 corn_can corn_can_center 100" />
    <node name="cam_transform" pkg="ROS-Nursing-Robot-MQP-23-24" type="cam_transform.py" output="screen" />
    <node name="unity_publisher" pkg="ROS-Nursing-Robot-MQP-23-24" type="unity_publisher.py" output="screen" />
    <node name="teleop" pkg="ROS-Nursing-Robot-MQP-23-24" type="teleop.py" output="screen" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ROS-Nursing-Robot-MQP-23-24)/rviz/rviz.rviz"/>
 </launch>
